.container {
  display: flex;
  gap: 20px;
}

.card-Profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;
}

.cardArry {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}

.cardArry img {
  width: 100%;
  border-radius: 8px;
}

.cardArry h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.cardArry p {
  color: grey;
}

#logoutBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
}

/* Popup Styles */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.popup-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.popup h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn.confirm {
  background-color: #28a745;
  color: white;
}

.btn.cancel {
  background-color: #dc3545;
  color: white;
}

.dpopup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.delete-popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.dpopup h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.delte-popup-buttons {
  display: flex;
  justify-content: space-around;
}

.delte.btn.confirm {
  background-color: #28a745;
  color: white;
}

.delte.btn.cancel {
  background-color: #dc3545;
  color: white;
}
