body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  position: relative;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  align-items: center;
  text-align: center;
}

input {
  width: 300px;
  padding: 8px;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
}

button {
  position: relative;
  bottom: 5px;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: calc(100% - 30px);
  margin: 10px 15px;
  justify-content: center;
}

button:hover {
  background-color: #45a049;
}