body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  display: inline;
  padding: 10;
}

.card-Profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}

.form-container {
  position: relative;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.label-href {
  display: inline;
  margin: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-group > * {
  margin-bottom: 10px;
}

input {
  width: 300px;
  height: 25px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.btn {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  width: 75%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px; /* Increase padding for better visibility */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 75%;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}
