<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/changePassword.css}" rel="stylesheet" />
    <script
      type="text/javascript"
      th:src="@{/js/changePassword.js}"
      defer
    ></script>

    <title>Change Password</title>
  </head>

  <body>
    <div class="updatePassword-container">
      <h1>Update Password</h1>
      <form id="formChangePassword">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <span id="passwordFeedback" style="color: red"></span>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" />
        <span id="confirmPasswordFeedback" style="color: red"></span>

        <span id="responseFromBack" style="color: black"></span>

        <button type="submit">Change Password</button>

        <label for="account">Get back to home page</label>
        <a th:href="@{/home}" style="text-decoration: none">Home</a>
      </form>
    </div>
  </body>
</html>
