<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/main/resources/static/css/greeting.css" />
    <script src="/src/main/resources/static/js/greeting.js" defer></script>
    <title>Greetings</title>
  </head>
  <body>
    <div class="card">
      <h1 id="greeting"></h1>
      <div id="message">
        Please, check your email account to confirm your registration.
      </div>
      <div class="loader"></div>
    </div>
  </body>
</html>
