<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/register.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/register.js}" defer></script>
    <title>Register</title>
  </head>
  <body>
    <div class="form-container">
      <h1>Register</h1>
      <form id="apiForm">
        <div class="input-group">
          <label for="firstNameLabel">First Name:</label>
          <input
            type="text"
            id="firstName"
            name="firstName"
            placeholder="Enter your first name"
          />
          <span id="firstNameFeedback" style="color: red"></span>

          <label for="lastNameLabel">Last Name:</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            placeholder="Enter your last name"
          />
          <span id="lastNameFeedback" style="color: red"></span>

          <label for="ageLabel">Age:</label>
          <input
            type="number"
            id="age"
            name="age"
            placeholder="Enter your age"
          />
          <span id="ageFeedback" style="color: red"></span>

          <label for="telephoneLabel">Telephone:</label>
          <input
            type="tel"
            id="telephone"
            name="telephone"
            placeholder="Enter your telephone"
          />
          <span id="telephoneFeedback" style="color: red"></span>

          <label for="emailLabel">E-mail:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
          />
          <span id="emailFeedback" style="color: red"></span>

          <label for="passwordLabel">Password:</label>
          <input type="password" id="password" name="password" />
          <span id="passwordFeedback" style="color: red"></span>
        </div>

        <div class="button-group">
          <button type="submit">Register</button>
        </div>

        <div class="login-link">
          <label class="label-href">Already have an account ?</label>
          <a th:href="@{/}" style="text-decoration: none">Login</a>
        </div>
      </form>
    </div>
    <div id="response"></div>
  </body>
</html>
