<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link th:href="@{/css/update.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/update.js}" defer></script>

    <title>Update Profile</title>
  </head>

  <body>
    <div class="card-Profile" id="cardProfile"></div>
    <div class="form-container">
      <form id="apiFormUpdate">
        <div class="input-group">
          <h1>Update Profile</h1>

          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" />
          <span id="firstNameUpdateFeedback" style="color: red"></span>

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" />
          <span id="lastNameUpdateFeedback" style="color: red"></span>

          <label for="age">Age:</label>
          <input type="number" id="age" name="age" />
          <span id="ageUpdateFeedback" style="color: red"></span>

          <label for="telephone">Telephone:</label>
          <input type="tel" id="telephone" name="telephone" />
          <span id="telephoneUpdateFeedback" style="color: red"></span>

          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" />
          <span id="emailUpdateFeedback" style="color: red"></span>
        </div>

        <div class="button-group">
          <button type="submit">Update</button>
        </div>

        <div class="btn">
          <button id="homeBtn"><i class="fa fa-home"></i></button>
        </div>

        <div class="btn-profile">
          <button id="profileBtn"><i class="fa fa-user"></i></button>
        </div>
      </form>
    </div>
    <div id="response"></div>
  </body>
</html>
