<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Verify Email</title>
  </head>
  <body>
    <label for="login">You can update now</label>
    <a
      href="http://127.0.0.1:5500/src/main/resources/templates/updatePassword.html"
      style="text-decoration: none"
    >
      Update
    </a>

    <input
      type="text"
      id="tokenPass"
      name="token"
      th:value="${token}"
      size="35opx"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const token = document.getElementById("tokenPass").value;
        console.log("Token:", token); // Debugging line
        localStorage.setItem("tokenPassword", token);
      });
    </script>
  </body>
</html>
